body {
  background-color: #1A1A1A;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
input[type="submit"], strong {
  letter-spacing: 1.1rem;
}

fieldset {
  border-top: 1px solid #F3D430;
  padding-top: 40px;
}

.legend {
  color: #fff;
  display: block;
  font-weight: 600;
  letter-spacing: .5rem;
  margin-bottom: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#contact label {
  color: #F3D430;
}

.contact-address {
  margin-bottom: 30px;
}

.contact-address-row {
  color: #fff;
  display: block;
  font-size: 2rem;
  padding: 10px 0 10px 25px;
  text-decoration: none;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.logo, .manifesto {
  position: fixed;
  z-index: 2;
}

.logo {
  left: 20px;
  top: 20px;
  width: 60px;
  height: 67px;
}

.logo-path {
  fill: #FCDA00;
}

[data-active="projects"] .logo-path {
  fill: #222;
}

.manifesto {
  font-size: 1.5rem;
  line-height: 1.3;
  list-style-type: none;
  right: 15px;
  text-align: right;
  top: 20px;
}

.section-anchor {
  color: #F3D430;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.section-anchor:hover,
.section-anchor.active {
  background-color: #F3D430;
  color: #222;
}

[data-active="projects"] .section-anchor {
  color: #222;
}

[data-active="technology"] .section-anchor:hover,
[data-active="technology"] .section-anchor.active {
  color: #2D7A7E;
}

[data-active="projects"] .section-anchor:hover,
[data-active="projects"] .section-anchor.active {
  color: #F3D430;
  background-color: #222;
}

.section {
  min-height: 600px;
  padding-top: 152px;
  position: relative;
}

.projects:not(:last-child) {
  margin-bottom: 4px;
}

.section-header {
  display: none;
  padding: 65px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  display: none;
}

.with-fixed-header .header-bg {
  display: block;
}

.with-fixed-header .section-header {
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#home {
  text-align: right;
  background-color: #222;
}

.content {
  margin-top: 150px;
}

#projects .content,
#technology .content,
#contact .content {
  margin-top: 50px;
}

#contact {
  background-image: url("https://api.mapbox.com/v4/mapbox.streets/pin-s-heart+285A98(-51.1947963,-30.023142)/-51.188,-30.027,15/600x600@2x.png?access_token=pk.eyJ1IjoiaXJpbyIsImEiOiJjaW1wN2s5aWgwMG93dW1tMWtnazRyc3oyIn0.ezYdL4grZSSTenioNqaJjA");
  background-size: cover;
}

#contact:before {
  background-color: #222;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  opacity: .9;
}

.section-title {
  font-weight: 800;
}

#video {
  max-height: 550px;
}

#home,
#who-we-are,
#contact {
  color: #F3D430;
}

#who-we-are {
  background-color: #1A1A1A;
}

#projects,
.section {
  background-color: #F3D430;
}

#projects,
.project,
.project:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYV2NkYGD4zwABjFAaKwWSJFohPoPgcnitQzaBYoUY7sZlItEKMTxIsRsxTAQAToUECxUArzQAAAAASUVORK5CYII=);
  color: #222;
}

#technology {
  background-color: #2D7A7E;
  color: #F3D430;
}

.technology-anchors {
  list-style: none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.technology-anchor {
  background-color: #3C9AA0;
  color: #222;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 1px;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.technology-anchor:hover {
  padding-right: 80px;
  color: #222;
}

.technology-anchor:hover:after {
  content: '+';
  font-size: 5rem;
  right: 37px;
  position: absolute;
  top: -15px;
  font-weight: 600;
  color: #F3D430;
  z-index: 1;
}

.main-title {
  height: 30px;
  position: relative;
  text-align: right;
}

.logo-lettering {
  position: absolute;
  right: 0;
}

.slogan {
  font-size: 6.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  right: -10px;
}

.projects .columns:not(:first-child) {
  margin-left: .5%;
}

.projects .columns {
  width: 33%;
}

.project {
  display: block;
  height: 200px;
  position: relative;
  width: 100%;
}

.project-name {
  align-items: center;
  background-color: #F3D430;
  bottom: 10px;
  display: flex;
  font-size: 1.8rem;
  height: 55px;
  left: 10px;
  letter-spacing: normal;
  line-height: 1.3;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  width: 180px;
}

.project:hover {
  text-decoration: none;
}

.project:hover:before {
  content: '+';
  font-size: 10rem;
  left: 117px;
  position: absolute;
  top: 30px;
  font-weight: bold;
  color: #F3D430;
}

.project:hover .project-name {
  display: none;
}

/* Overriding Skeleton */

input.button-primary[type="submit"] {
  background-color: #F3D430;
  border: none;
  color: #1A1A1A;
  font-weight: 600;
  letter-spacing: .5rem;
}

h2 {
  margin: 0;
}

a:hover {
  color: #F3D430;
}

address {
  font-style: normal;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-radius: 0;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #F3D430;
}

/* Responsive video */

.js-video {
  height: 0;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 25px;
  position: relative;
}

.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
